# Lingkungan Virtual
venv/

# Folder database vector (FAISS)
faiss/

# File konfigurasi sensitif (API Key, dll)
.env

# Cache Python
__pycache__/
*.py[cod]

cek_model.py
download_model.py
evaluasi_ragas_fixed_v2.ipynb
evaluasi_ragas_fixed.ipynb
evaluasi_ragas.csv
evaluasi_ragas.ipynb
evaluasi_ragas.py
evaluasi.log
gemma-2-9b-it.zip
generate_log.jsonl
generate_ragas_dataset.py
hasil_evaluasi_final.csv
hit_rate_analysis.py
hit_rate_detail.csv
ragas_answer_v1.csv
ragas_answer_v2.csv
ragas_answer_v3.csv
ragas_answer.csv
ragas_dataset_perdes_tieng.xlsx