# Lingkungan Virtual
venv/

# Folder database vector (FAISS)
faiss/

# File konfigurasi sensitif (API Key, dll)
.env

# Cache Python
__pycache__/
*.py[cod]

cek_model.py
chunks_cache.txt
diagnose_retrieval.py
download_model.py
evaluate_ragas_asli.py
generate_bukti_bab4.py
generate_log.jsonl
generate_ragas_dataset_4.py
generate_ragas_dataset.py
hit_rate_analysis.py
ragas_answers.csv
ragas_dataset_perdes_tieng.xlsx
ragas_eval_asli_per_baris.csv